<% if obj.errors.any? %>
<div class="alert alert-warning">
  <p><%= pluralize(obj.errors.size, 'error') %> found:</p>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
